.GenericContainer > h1 {
  margin: 40px 0px 0px 0px;
  animation: fadedown 1s;
}

.ProfileContainer {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 50px;
  justify-content: center;
  width: 100%;
  height: 75vh;
  background-color: var(--accent-background-color);
  color: rgb(214, 134, 88);
  color: white;

  >div>img {
    width: 200px;
    min-width: 350px;
    min-height: 350px;
    border: solid var(--accent-background-color) 8px;
    margin: 0px 0px 0px 0px;
    object-position: 10% 0px;
    border-radius: 250px;
    object-fit: cover;
    z-index: 2;
  }

  .ProfilePicture {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    animation: fadedown 1s;
    margin-top: 15px;
  }

  .RainbowContainer {
    background: linear-gradient(45deg, #ffca57, #b91f69, #680051);
    height: 355px;
    width: 355px;
    padding: 10px;
    border-radius: 250px;
    animation: rotating 2s ease-in infinite;
    position: absolute;
  }
}

.ProfileTextContainer {
  margin-left: 70px;
  animation: fadedown 1s;
  width: 35%;
  
  img {
    height: 50px;
    width: 50px;
  }

  h1 {
    text-align: left;
    font-size: 44px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 28px;
    font-weight: 300;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    color: rgb(162, 166, 170);
  }

  h3 {
    font-size: 24px;
    font-weight: lighter;
    margin: 35px 0px 30px 0px;
    color: rgb(255, 255, 255);
  }

  >div:nth-child(1) {
    display: flex;
    width: auto;
    max-width: 400px;
    flex-direction: column;
    margin-top: 30px;
  }

  >div:nth-child(2) {
    
    a {
      text-decoration: none;
    }
  }

  .CheckedName {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
      margin: 0px;
    }
  }

  .ActionButton {
    width: 400px;
  }
}

.AboutSection {
  width: 100%;
  color: var(--font-color);
  text-align: center;
  margin: 40px 0px 40px 0px;
  animation: fadedown 1s;

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 42px;
  }

  p {
    padding: 0% 20% 0% 20%;
    margin: 0px;
    text-align: left;
  }
}