.ArticlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Article {
  display: flex;
  justify-content: space-;
  /* border: solid; */
  width: 50%;
  min-width: 700px;
  height: 160px;
  margin: 75px 0px 30px 0px;
}

.ArticleLink {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: 700px;
  height: 160px;
  /* margin: 30px 0px 30px 0px; */
  text-decoration: none;
}

.ArticleLink:hover {
  --primary-color: var(--primary-color-dark);
}

.Article img {
  width: 200px;
  object-fit: cover;
  margin: 0px;
}

.ArticleTitleAndDate {
  display: flex;
  flex-direction: column;
  /* border: dotted; */
  justify-content: space-between;
  text-align: left;
  height: 100%;
  width: 80%;
  margin: 0px 0px 0px 0px;
}

.ArticleTitleAndDate p {
  margin: 0px;
  font-size: 34px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}


.ArticleTitleAndDate h2 {
  margin: 0px;
  color: var(--font-color);
  font-weight: lighter;
}