.ArticlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Article {
  display: flex;
  justify-content: center;
  /* border: solid; */
  width: 100%;
  min-width: 600px;
  min-height: 160px;
  height: auto;
  margin: 75px 0px 30px 0px;
}

.ArticleLink {
  display: flex;
  justify-content: space-between;
  width: 60%;
  min-width: 600px;
  height: auto;
  /* margin: 30px 0px 30px 0px; */
  text-decoration: none;
}

.ArticleLink:hover {
  --primary-color: var(--primary-color-dark);
}

.Article img {
  height: 180px;
  width: 100%;
  max-width: 200px;
  object-fit: cover;
  margin-left: 15px;
}

.ArticleTitleAndDate {
  display: flex;
  flex-direction: column;
  /* border: dotted; */
  justify-content: space-between;
  text-align: left;
  height: auto;
  /* width: 100%; */
  margin: 0px 10px 0px 0px;
}

.ArticleTitleAndDate h2 {
  margin: 0px;
  font-size: 38px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}


.ArticleTitleAndDate h3 {
  margin-top: 20px;
  color: var(--font-color);
  font-weight: lighter;
  font-size: 30px;
}