footer {
  text-align: center;
  justify-content: space-between;
  margin: 40px 0px 0px 0px;
  padding: 20px 0px 30px 0px;
  width: 100%;
  background-color: var(--footer-color);
  color: var(--font-color);
  bottom: 0;
  left: 0;

  
  span {
    color: red;
  }
}
