.logos-banner {
  text-align: center;
  margin: 60px 0px 50px 0px;
  background-color: var(--banner-background-color);
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 20%);
  // padding: 10px;

  h1 {
    font-size: 42px;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    // color: var(--primary-color);
    font-family: 'Lato';
  }

  h2 {
    font-size: 26px;
    font-weight: lighter;
    margin: 15px 0px 50px 0px;
  }
}

.logo-slider {
  --image-size: 60px;
  padding: 20px;
  overflow: hidden;
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.fade-background {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
}

.fade-background-left {
  background-image: linear-gradient(to right, var(--banner-background-color) 0%, rgba(255, 255, 255, 0));
  left: 0px;  
}

.fade-background-right {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--banner-background-color) 100%);
  right: 0px;  
}

.logo-slider .logo-slider-segment {
  display: flex;
  position: relative;
  animation: marquee 20s linear infinite;
  justify-content: space-around;
}

.logo-slider .logo-slider-segment2 {
  display: flex;
  position: relative;
  animation: marquee 30s linear infinite;
  animation-direction: reverse;
  justify-content: space-around;
  margin-bottom: 20px;
}

.logo-slider > div > img {
  display: block;
  height: var(--image-size);
  margin: 0 2vw;
  z-index: 1;
}

.noInvert {
  filter: grayscale(100%);
  opacity: 30%;
  // filter: invert(1);
}

.invert {
  // width: 400px;
  filter: var(--banner-filter);
  opacity: var(--banner-opacity);
}

.logo-slider > div > img:hover {
  transition: all 0.3s ease-out;
}

.logo-slider:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0) calc(100% - 80px), white);
  z-index: -99;
}

@media (max-width: 900px) {
  logo-slider {
    --image-size: 50px;
    --image-size: min(max(50px, 10vw), 100px);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
