nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: var(--nav-background-color);
  height: 100vh;
  font-family: 'Fira Code', monospace;
  font-size: large;
  min-width: 225px;
  width: 10vw;
  text-align: left;
  position: fixed;
  grid-area: 'navbar';
  z-index: 10;

  button {
    font-size: large;
    margin: 3px 0px 6px 0px;
  }

  h1 {
    width: 70%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    letter-spacing: 0.03em;
  }
}

.ResponsiveNav {
  // height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

%NavBarSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // margin: 10px;
}

.NavBarTop {
  @extend %NavBarSection;
  // border: solid;
  
}

.NavBarTitle {
  @extend %NavBarSection;
  // border: dotted;
  
  button {
    // font-size: large;
    margin: 10px 0px 6px 0px;
    // width: 100%!important;
  }

  h1 {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    letter-spacing: 0.03em;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    // border: dotted;
    // text-align: left;
  }

  .NavBarTitleToggle {
    display: flex;
    align-items: center;
    // justify-content: flex-start;
    // border: solid;
    width: 80%;
    padding: 10px 0px 0px 0px;

    button {
      // font-size: 32px;
      background-color: transparent;
      border: none;
      color: var(--font-color);
      display: none;
      margin: -12px 0px 0px 0px;
    }
  }
}

.NavBarCollapsible {
  // border: dotted;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NavBarBottom {
  @extend %NavBarSection;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
  // border: solid;
  align-items: center;
}

.SocialIcons {
  display: flex;
  margin-top: 25px;
   >* {
     color: var(--font-color);
     margin: 0px 10px 0px 10px;
     transition: transform .5s ease-out;
   }
   &>*:hover {
    cursor: pointer;
    color: var(--socials-hover);
    animation-name: dance;
    animation-duration: 0.3s;
   }
}

@keyframes dance {
  30% {transform: rotate(15deg)}
  60% {transform: rotate(-15deg)}
  90% {transform: rotate(5deg)}
  100% {transform: rotate(0deg)}
}

@media (max-width: 900px) {
  .LinkContainer, .NavBarBottom , .NavBarTop {
  }

  .NavBarCollapsible {
    animation: fadedown 0.3s;
  }

  .LinkContainer *{
    // padding-left: 50px;
    // margin-left: 40px;
  }

  nav {
    min-height: 65px;
    height: auto;
    text-align: center;
    width: 100vw;
    box-shadow: 0px 2px 7px -1px rgb(0, 0, 0);
  }
  
  .ResponsiveNav {
    display: flex;
    width: 100%;
    margin: 0px 0px 0px -20px;
    height: auto;
    // border: solid 5px white;
  }
  
  .NavBarTitle {
    // padding-bottom: 20px;
    padding: 0px 0px 10px 0px;

    >a>button {
      min-width: 325px;
    }
  }

  .App {
    display: block;
  }

  main {
    padding-top: 65px;
  }

  .NavBarTitleToggle {
    > button {
      display: block!important;
      font-size: 40px;
      margin: 0px;
      &:hover {
        cursor: pointer;
      }
    }
    
    h1 {
      min-width: 280px;
    }
  }

  .NightModeButtonContainer {
    margin-left: 10px!important;
  }
  
  .NavBarBottom {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0px 0px 8%;
  }

  .NavBarTop {
    // padding: 0px 0px 0px 10%;
    .NavIcon {
      padding: 0px 0px 0px 5%;
    }
  }

  .logos-banner {
    width: 100%;
  }

  .AboutSection {
    p {
      padding: 0% 10% 0% 10%!important;
    }
  }

  .IndustrySection {
    // border: solid;

    h1 {
      margin: 30px 0px 30px 0px;
    }
  }

  .IndustryGrid {
    // grid-template-columns: 100% !important;
    display: flex!important;
    flex-direction: column;
    // border: dotted;
    column-gap: 0px;
    align-items: center;
    margin-bottom: 0px!important;

    .flip-card {
      margin: 40px 0px 40px 0px;
    }
  }

  .ProfileContainer {
    height: 100%!important;
    flex-direction: column;
    
    >div>img {
      margin: 40px!important;
      padding: 0px!important;
      width: 100px !important;
      min-width: 300px!important;
      min-height: 300px!important;

    }
    
    .RainbowContainer {
      // padding: 0px!important;
      height: 305px!important;
      width: 305px!important;
    }

    .ProfilePicture {
      width: 100%;
      justify-content: center;
      position: initial;
    }
  }

  .ProfileTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px!important;
    // margin-left: 0px!important;
    padding: 0px!important;
    width: 100%!important;
    // border: solid;

    h1 {
      display: block!important;
      text-align: center!important;
      width: 100%!important;
    }

    >div:nth-child(3) {
      // display: flex;
      // width: 100%!important;
      // max-width: 400px;
      flex-direction: column!important;
      // margin-top: 30px;
      align-items: center!important;
      justify-content: center!important;

    }
  }

  .ProfileTextBio {
    display: flex;
    // color: red;
    // border: solid;
    width: 75%;

    a {
      width: 100%;
    }
  }

  .LastNameContainer {
    flex-direction: column;

    h1 {
      width: 100%!important;
    }
    
    .CheckedName {
      margin-left: 50px;
      // border: dotted;
      width: auto!important;

      h1 {
        margin-right: 0px!important;
      }
    }
  }

  .CheckedName {
    // flex-direction: column!important;
    // width: 60%;
    width: 40%!important;
  }

  .AppNoNav {
    main {
      padding: 0px;
    }
  }

  .HeyThere {
    flex-direction: column!important;
    margin: 0px 0px 10px 0px!important;

    h1 {
      margin: 0px!important;
      font-size: 110px!important;
    }

    .WavingHand {
      font-size: 80px!important;
    }
  }

  .TypingContainer {
    min-height: 150px!important;

    span {
      font-size: 2.4em!important;
    }
  }

  .App {
    .HomeContainer {
      min-height: 80vh!important;
    }
  }

  .HomeContent {
    .ActionButtonContainer {
      // width: 80%;
    }
  }

  .GenericContainer {
    > h1 {
      font-size: 64px!important;
      margin: 30px 0px 35px 0px!important;
    }

    .togglBannerContainer, .ProjectsGrid {
      margin-top: 50px;
    }

    .ProjectsGrid {
      // min-width: 100%;
      min-width: 300px;
      width: 100%;
      max-width: 600px!important;

      // border: dotted;
      grid-row-gap: 0px;

      .ProjectContainer {
        min-width: 300px;
        max-height: 100%;
        flex-direction: column;
        padding-bottom: 20px;
      }
    }
  }

  .ProjectImageContainer {
    min-height: 400px;
    height: 67vw;
    max-height: 450px;
  }

  .ProjectImageContainer img, #GifCover {
    // max-height: 400px;
    // height: 50vh;
    display: block;
    height: auto!important;
    width: 100%;
    position: absolute;
    overflow: hidden;
    object-fit:cover;
    bottom: 0;
  }

  .ProjectContainer:nth-child(even) {
    height: auto;
  }

  .ArticleLink {
    min-width: unset;
    width: 85%;
    height: 100px;

    img {
      height: 100%;
      width: 40%;
      object-fit: cover;
    }
  }

  .Article {
    min-width: unset;
    margin: 20px 0px 0px 0px;
  }

  .ArticleTitleAndDate {
    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }
  }

  .ActionButtonCluster {
    width: 80%!important;
    min-width: 400px;
  }

  .ActionButtonContainer {
    margin: 0px 30px 0px 30px!important;
    width: 80%!important;
  }

  .ContactContainer {
    h1 {
      margin-top: 30px;
    }

    div {
      button {
        flex-direction: column;
        margin: 15px 0px 20px 0px!important;
        p {
          margin-bottom: 15px;
        }
      }
    }
  }

}

  
  @media (max-width: 500px) {
}
