.ProjectsGrid {
  margin: 100px;
  display: grid;
  width: 80%;
  column-gap: 125px;
  row-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 300;
}

.ProjectContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', monospace;
  text-align: left;
  max-width: 100%;
  background: var(--nav-background-color);
  box-shadow: 0px 7px 7px -4px black;
  position: relative;
}

.ProjectImageLink {
  height: auto;
}

.ProjectTextLink, .ProjectTextLink:visited {
  height: 100%;
  text-decoration: none;
  margin-bottom: 0;
  color: var(--font-color);
}

.ProjectContainer:hover, .ProjectsTextContainer:hover, .StackContainer:hover {
  --gifOpacity: 0;
}

.ProjectTextContainer {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ProjectTextContainer * {
  margin-bottom: auto;
}

.togglBannerContainer {
  display: flex;
  align-items: center;
  background-color: var(--toggle-color);
  color: var(--font-color);
  border-radius: 15px;
  box-shadow: 0px 2px 6px -2px black;
  padding: 12px 15px 12px 15px;
  /* margin: 50px 0px 0px 0px; */
  margin: 30px;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
  font-size: larger;
}

.togglBannerContainer p {
  margin: 0px 10px 0px 0px;
  text-decoration: none;
}

.togglBannerContainer a {
  color: var(--link-color);
  text-decoration: none;
  font-size: small;
}


#GifCover {
  position: absolute;
  left: 0px;
  opacity: var(--gifOpacity);
}

#GifCover:hover {
  position: absolute;
  left: 0px;
  opacity: var(--gifOpacity);
  --gifOpacity: 0;
  cursor: pointer;
  transition: 1s;
}

.ProjectImageContainer img, #GifCover {
  width: 100%;
}

.ProjectImageContainer {
  position: relative;
  height: auto;
}

.ProjectTextDescription {
  margin:0px;
}

.ProjectContainer h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0px 5px 0px;
}

.StackContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}

.StackContainer * {
  margin: 0px;
  width: 50px;
}

.techStackImage, .techStackFa {
  width: auto;
  height: 25px;
  padding: 6px;
}

.ProjectTime {
  margin: 0px;
}

.StackAndTimeContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px 0px 0px 0px;
}

.TimeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding-top: 10px;
  border-top: solid 2px rgb(58, 58, 58);
}