.ProjectsGrid {
  margin: 100px;
  display: grid;
  width: 80%;
  column-gap: 125px;
  row-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 300;
}

.ProjectContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  font-family: 'Fira Code', monospace;
  text-align: left;
  max-width: 100%;
  background: var(--nav-background-color);
  box-shadow: 0px 7px 7px -4px black;
  position: relative;
}

.ProjectTextContainer {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ProjectTextContainer * {
  margin-bottom: auto;
}

.togglBanner {
  background-color: var(--toggle-color);
  color: var(--font-color);
  border-radius: 15px;
  padding: 7px;
  box-shadow: 0px 2px 6px -2px black;
}

.togglBanner a {
  /* color: rgb(0, 81, 255); */
  color: var(--link-color);
  text-decoration: none;
}

#GifCover {
  position: absolute;
  left: 0px;
  /* filter: grayscale(100%); */
}

#GifCover:hover {
  position: absolute;
  left: 0px;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.ProjectImageContainer img, #GifCover {
  width: 100%;
}

.ProjectImageContainer {
  position: relative;
}

/* .ProjectImageContainer :nth-child(2) {
  position: absolute;
  left: 0px;
} */

.ProjectTextDescription {
  margin:0px;
  /* margin-bottom: auto; */
}

.ProjectContainer h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0px 5px 0px;
}

.StackContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
}

.StackContainer * {
  margin: 0px;
  width: 50px;
}

.techStackImage, .techStackFa {
  /* border: dotted; */
  width: auto;
  height: 30px;
  /* margin: 0px 0px 0px 0px; */
  padding: 6px;
}

.techStackImage {
  /* filter: brightness(80%) grayscale(100%); */
}

.techStackFa {
  /* padding: 6px; */
}

.ProjectTime {
  margin: 0px;
}

.StackAndTimeContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px 0px 0px 0px;
}

.TimeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding-top: 10px;
  border-top: solid 2px rgb(58, 58, 58);
}