html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}  

:root {
  --primary-color: #4229ff;
  --primary-color-dark: #2813cc;
  --nav-background-color: #ebe6e1;
  --nav-background-color2: #676ec0c7;
  --main-background-color: #ffffff;
  --font-color: #0A0908;
  --font-color2: #F5F1ED;
  --toggle-color: #FFB11A;
  --toggle-color2: #f3cf00;
  --socials-hover: #383838;
}

.DarkTheme {
  --primary-color: rgb(0, 255, 170);
  --primary-color-dark: rgb(0, 223, 148);
  --nav-background-color: #363636;
  --nav-background-color2: #646464;
  --main-background-color: #202020;
  --font-color: #f8f7f6;
  --font-color2: #000000;
  --toggle-color: #4d35ff;
  --toggle-color2: rgb(0, 223, 148);
  --socials-hover: #b1b1b1;
}

body {
  background: var(--main-background-color);
  color: var(--font-color);
  font-family: 'Fira Sans', sans-serif
}

.App {
  display: grid;
  grid-template-columns: minmax(225px, 15vw) 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "navbar mainContent";
}

nav {
  align-items: center;
  background: var(--nav-background-color);
  border-right: solid;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: 'Fira Code', monospace;
  font-size: large;
  max-width: 325px;
  min-width: 225px;
  width: 10vw;
  justify-content: space-between;
  text-align: right;
  position: fixed;
  grid-area: 'navbar';
}

nav button {
  font-size: large;
  margin: 3px 0px 6px 0px;
}

nav h1 {
  width: 80%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}

.NavBarTop, .NavBarBottom {
  /* border: dotted; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
}


.NavBarBottom {
  margin: 0px 0px 0px 0px;
  padding: 35px;
  align-items: center;
}

.SocialIcons {
  display: flex;
  margin-top: 25px;
}

.SocialIcons > * {
  margin: 0px 10px 0px 10px;
}

.SocialIcons > *:hover {
  cursor: pointer;
  color: var(--socials-hover);
}


/* Action Button */

.ActionButtonContainer {
  display: block;
  text-decoration: none;
  max-width: 300px;
}

.ActionButtonContactContainer {
  display: block;
  text-decoration: none;
  width: 80%;
}

.ActionButton {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 7px -2px black;
  color: var(--font-color2);
  font-family: 'Fira Code', monospace;
  font-size: medium;
  padding: 10px 15px 10px 15px;
  min-width: auto;
  width: 100%;
}

.ActionButton.Contact {
  text-align: center;
  width: 100%;
}

.ActionButton:hover {
  cursor: pointer;
  background-color: var(--primary-color-dark);
}

.ActionButtonCluster {
  display: flex;
  /* border: 2px solid magenta; */
  justify-content: space-around;
  width: 60%;
  /* margin-bottom: 40px; */
  margin: 40px 0px 40px 0px;
}

.ActionButtonCluster > .ActionButtonContainer {
  display: flex;
  margin: 0px 75px 0px 75px;
  width: 50%;
  /* width: 80%; */
  /* height: 50px; */
}

.ActionButtonCluster > .ActionButtonContainer > .ActionButton {
  width: 100%;
}


.LinkContainer {
  display: flex;
  /* border: dotted; */
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.LinkButtonContainer:hover {
  background-color: var(--nav-background-color2);
  transition: .3s;
  color: var(--toggle-color2);
}

.LinkButtonContainer, .activeLinkButtonContainer {
  list-style: none;
  /* text-decoration: none; */
  /* text-decoration-style: double; */
}

.LinkButtonContainer a, .activeLinkButtonContainer a {
  text-decoration: none;
}

.activeLinkButtonContainer {
  background-color: var(--nav-background-color2);
}

.activeLinkButtonContainer button {
  color: var(--toggle-color2);
}

.LinkButton, .trueLinkButton {
  padding: 0px 20px 5px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  color: var(--font-color); 
  font-family: 'Fira Code', monospace;
}

.trueLinkButton {
}

.LinkButton:hover {
  color: var(--toggle-color2);
  cursor: pointer;
}

/* Night Mode button */
.NightModeButtonContainer {
  /* border: dotted; */
  /* width: 80%; */
  margin-left: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-color);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 2px 7px -2px black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--toggle-color);
}

input:focus + .slider {
  /* box-shadow: 0 0 5px var(--accent-color); */
}

input:checked + .slider:before {
  -webkit-transform: translateX(41px);
  -ms-transform: translateX(41px);
  transform: translateX(41px);
}

.slider.round {
  border-radius: 60px;
}

.slider.round:before {
  border-radius: 50%;
}

main {
  /* border: dotted; */
  background: var(--main-background-color);
  /* height: 100vh; */
  justify-self: center;
  grid-area: mainContent;
  width: 100%;
  /* overflow: auto; */
  /* UPDATE HEIGHT --- DO NOT USE VH */
}

/* COMPONENTS */

.GenericContainer {
  align-items: center;
  display: flex;
  /* min-height: 100vh; */
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

/* Home */
.HomeContainer {
  align-items: flex-start;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.HomeContent {  
  margin: 0px 0px 0px 100px;
}

.HomeContent > h1, .GenericContainer > h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 80px;
  /* border: dotted; */
  margin: 50px 0px 30px 0px;
}

.HomeContent > h1 {
  font-size: 125px;
}

.HomeContent > p {
  /* border: dotted; */
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  margin: 0px 0px 90px 0px;  
}

/* About Me */

.ProfileContainer {
  /* border: dotted; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 300px;
}

.ProfileContainer > img {
  width: auto;
  height: 75%;
  border-radius: 15px;
}

.ProfileTextContainer {
  /* border: 2px solid green; */
  width: 50%;
}

.LogoBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  width: 80%;
  background: var(--nav-background-color);
  box-shadow: 0px 0px 50px -22px var(--primary-color);
  border-radius: 30px;
  margin-bottom: 40px;
  overflow-x: hidden;
  position: relative;
}

.LogoBanner:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, var(--nav-background-color), rgba(0, 0, 0, 0) 100px, rgba(0, 0, 0, 0) calc(100% - 100px), var(--nav-background-color) 100%);
}


.LogoBanner > p, .LogoBanner > h1 {
  margin: -10px;
}

@keyframes marquee {
  0%   { left: 0%; }
  100% { left: -100%;; }
}

.BannerRow1 {
  border: 1px solid #575757;
  padding: 20px;
  overflow: hidden;
  max-width: 900px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  text-align: center;
}

.BannerRow1 > div {
  display: flex;
  position: relative;
  animation: marquee 5s linear infinite;
  justify-content: space-around;
}

.BannerRowSegment > div > img {
  display: block;
  width: 60px;
  height: auto;
  filter: grayscale(100%);
  opacity: 60%;
  margin: 0 1vw;
}