html, body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}  

:root {
  --primary-color: #3f28ee;
  --nav-background-color: #F5F1ED;
  --main-background-color: #ffffff;
  --font-color: #0A0908;
  --font-color2: #F5F1ED;
  --toggle-color: #FFB11A;
  --toggle-color2: #ffd500;
}

.DarkTheme {
  --primary-color: #0084ff;
  --nav-background-color: #202020;
  --main-background-color: #121212;
  --font-color: #F5F1ED;
  --font-color2: #ffffff;
  --toggle-color: #4d35ff;
  --toggle-color2: #0f0074;
}

body {
  background: var(--main-background-color);
  color: var(--font-color);
}


nav {
  align-items: center;
  background: var(--nav-background-color);
  border-right: solid;
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Fira Code', monospace;
  /* padding: 10px; */
  position: absolute;
  min-width: 15vw;
  top: 0px;
  text-align: right;
  width: 150px;
}

nav > h1 {
  border: dotted;
  width: 80%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}

.ActionButtonContainer {
  border: dotted;
  width: 80%;
}

.ActionButton {
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: var(--font-color2);
  font-family: 'Fira Code', monospace;
  padding: 10px 15px 10px 15px;
  width: auto;
}

.ActionButton.Contact {
  width: 100%;
}

.ActionButton:hover {
  cursor: pointer;
}

.LinkContainer {
  display: flex;
  border: dotted;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
  width: 80%;
}

.LinkButtonContainer {
  list-style: none;
}

.LinkButton {
  background-color: transparent;
  border: none;
  color: var(--font-color); 
  font-family: 'Fira Code', monospace;
}

.LinkButton:hover {
  color: var(--toggle-color);
  cursor: pointer;
}

/* Night Mode button */
.NightModeButtonContainer {
  border: dotted;
  width: 80%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--toggle-color);
}

input:focus + .slider {
  box-shadow: 0 0 5px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(41px);
  -ms-transform: translateX(41px);
  transform: translateX(41px);
}

.slider.round {
  border-radius: 60px;
}

.slider.round:before {
  border-radius: 50%;
}

main {
  border: dotted;
  background: var(--main-background-color);
  height: 100vh;
  margin-left: max(15vw, 150px);
  justify-self: center;
  /* UPDATE HEIGHT --- DO NOT USE VH */
}

/* COMPONENTS */

/* Home */
.HomeContainer {
  align-items: center;
  border: 1px blue solid;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.HomeContent {  
  border: dotted;
  text-align: left;
  width: 80%;
}

.HomeContent > h1 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 80px;
  border: dotted;
  margin: 0px;
}

.HomeContent > p {
  border: dotted;
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  font-size: 36px;
  margin: 0px 0px 45px 0px;  
}




